*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  li{
   list-style: none;
  }
  a{
      text-decoration-line: none

  }
  .container{
    width: 80%;
    margin: auto;
  }
   .header .container{

   display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
     align-items: center; 
   
 }
 .header{
      padding:21.8px;

  } 
 .lists a{
   color:rgba(58, 56, 69, 1) ;
 }
 .lists ul{
 display: flex;
 flex-wrap: wrap;
 gap: 60px;

 }
 .icons ul{
   display: flex;
   flex-wrap: wrap;
   gap: 24px;


 }
 
   
