@import "tailwindcss";

@theme {
    --color-background:rgba(253, 249, 243, 1);
    --color-Head-line:rgba(95, 22, 38, 1);
    --color-footer:rgba(49, 48, 45, 1);
    --color-nav-links:#544244;
    --font-Head:"El Messiri",sans-serif;
    --font-tajawal:"tajawal";
    --breakpoint-xs:375px;
    --breakpoint-xm:750px;
    
  }
 @layer base{
    body{
       background-color: var( --color-background);
       font-family: var(--font-tajawal);
    }
    h1{
        font-family: var(--font-Head);
        font-size: 48px;
        font-weight: 700;
    }
    h2{
        font-family:var(--font-Head);
        font-size: 36px;
        font-weight: 600;
    } 
     
 }
 @layer utilities{
    .nav-link{
        color: var(--color-nav-links);
        @apply transition duration-700 hover:text-Head-line hover:scale-[1.2];

        }
    .activ{
        color: var(--color-Head-line);
       }
        
 }
@layer components{
    .container-new{
    @apply mx-auto w-[85%] flex items-center text-center justify-between ;
    }
    
}
 
  

